<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desafio 11</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/index.css">
</head>

<body style="background-color: #eee;">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="http://localhost:8080/">
                <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="16" alt="MDB Logo"
                    loading="lazy" style="margin-top: -1px;" />
            </a>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <!-- Left links -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Desafio 11 <span id="welcomeUserName"></span></a>
                    </li>
                </ul>
                <!-- Left links -->

                <div class="d-flex align-items-center">
                    <div id="unknownUserButtons">
                        <button type="button" id="loginButton" class="btn btn-link px-3 me-2">
                            <a href="./login.html">Login</a>
                        </button>
                        <button type="button" id="logoutButton" class="btn btn-link me-3">
                            <a href="./signup.html">Registrate</a>
                        </button>
                    </div>
                    <div id="registeredUserButtons">
                        <button type="button" id="logoutButton" class="btn btn-primary me-3">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>

    <div>
        <section style="background-color: #eee;">
            <div class="container py-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-10 col-xl-12">

                        <!-- Buttons trigger collapse -->
                        <a class="btn btn-info btn-lg btn-block" data-mdb-toggle="collapse" href="#collapseProducts"
                            role="button" aria-expanded="false" aria-controls="collapseProducts">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Productos</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </a>
                        <button id="submitProduct" type="button" class="btn btn-primary"
                            onclick="generateProducts()">Generar
                            Productos</button>
                        <!-- Collapsed content -->
                        <div class="collapse mt-3" id="collapseProducts">
                            <table class="table align-middle mb-0 bg-white">
                                <thead class="bg-light">
                                    <tr>
                                        <th>Producto</th>
                                        <th>Titulo</th>
                                        <th>Precio</th>
                                    </tr>
                                </thead>
                                <tbody id="productsTable"></tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <section style="background-color: #eee;">
            <div class="container py-5">

                <div class="row d-flex justify-content-center">
                    <div class="col-md-8 col-lg-10 col-xl-12">

                        <!-- Buttons trigger collapse -->
                        <a class="btn btn-info btn-lg btn-block" data-mdb-toggle="collapse" href="#collapseChat"
                            role="button" aria-expanded="false" aria-controls="collapseChat">
                            <div class="d-flex justify-content-between align-items-center">
                                <span>Chat</span>
                                <i class="fas fa-chevron-down"></i>
                            </div>
                        </a>

                        <!-- Collapsed content -->
                        <div class="collapse mt-3" id="collapseChat">
                            <div class="card" id="chat4">
                                <div id="chatBody" class="card-body" data-mdb-perfect-scrollbar="true"
                                    style="position: relative; height: 400px; overflow: scroll">

                                </div>


                                <div class="card-footer text-muted d-flex justify-content-start align-items-center p-3">
                                    <img src='https://avataaars.io/?avatarStyle=Circle&topType=NoHair&accessoriesType=Prescription01&facialHairType=MoustacheFancy&facialHairColor=BrownDark&clotheType=Hoodie&clotheColor=Blue02&eyeType=Default&eyebrowType=Default&mouthType=Serious&skinColor=Brown'
                                        alt="avatar 3" style="width: 40px; height: 100%;" />
                                    <div>
                                        <div class="input-group flex-wrap">
                                            <input type="text" class="form-control form-control-lg" id="formEmail"
                                                placeholder="Usuario (e-mail)">
                                            <input type="text" class="form-control form-control-lg" id="formName"
                                                placeholder="Nombre">
                                            <input type="text" class="form-control form-control-lg" id="formLastName"
                                                placeholder="Apellido">
                                            <input type="text" class="form-control form-control-lg" id="formAge"
                                                placeholder="Edad">
                                            <input type="text" class="form-control form-control-lg" id="formAlias"
                                                placeholder="Alias">
                                            <input type="text" class="form-control form-control-lg" id="formAvatar"
                                                placeholder="Avatar (URL)">
                                        </div>
                                        <input type="text" class="form-control form-control-lg" id="formMessage"
                                            placeholder="Escribir mensaje...">
                                    </div>
                                    <button class="ms-3 link-info" onclick="sendMessage()"><i
                                            class="fas fa-paper-plane"></i></button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>

    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/normalizr@3.6.2/dist/normalizr.browser.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/index.js"></script>
</body>

</html>