doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body
        h1 Lista de Productos
        table
            tr
                th producto
                th precio
                th img URL
                th ID
            each val in products
                tr
                    td= val.title 
                    td= val.price 
                    td= val.thumbnail
                    td= val.id
        a(href="./") Volver